POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password_here
POSTGRES_DB=elearning_app
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
JWT_SECRET=your_jwt_secret_key_here
ALGORITHM=HS256
REDIS_HOST=localhost
REDIS_PORT=6379
BROKER=redis://localhost:6379/0
BACKEND=redis://localhost:6379/0
BOT_TOKEN=your_bot_token_here
BOT_NAME=your_bot_name_here
HOST=http://127.0.0.1:8000